body { background-color: #FAF8F1;
}

h1{
    color: darkmagenta;
}
h2{
    color: #3A8891;
}
h3{
    color: blueviolet;
}
h4{
 color: blueviolet;
}
hr {
    
    border-style: dotted none none;
    border-color: grey;
    width: 100px;
    border-width: 5px;
    border
    
}
